body {
    height: 1000vh;
}

.header-container {
    min-height: 150vh; /* Changed to 150vh as per CSS comment */
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1;
}

.header {
    padding: 8px 0;
    background-color: darkblue;
    gap: 24px;
    display: none; 
    justify-content: center;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: darkblue;
    color: whitesmoke;
    padding: 0 16px;
    cursor: pointer;
}

.header-button:hover {
    background-color: blue;
}

.bottom-nav {
    background-color: whitesmoke;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}

.bottom-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    padding: 0 16px;
}

@media (min-width: 980px) {
    .header {
        display: flex; 
    }
    .bottom-nav {
        display: none; 
    }
}