body {
    font-family: 'Lato', sans-serif;
    background-color: #66976a;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #a6bd6a;
    padding: 45px;
    border-radius: 15px;
}

label {
    font-weight: bold;
    color: rgb(76, 85, 84);
    font-size: 17px;
    margin-left: 5px;
}

.email-input {
    width: 100%;
    background-color: #ddedd8;
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
.password-input {
    width: 100%;
    background-color: #c6e9c9;
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #b4adad;
    border-radius: 10px;
    box-sizing: border-box;
}
.sentence-input {
    width: 100%;
    background-color: #add4b0;
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box; 
}

.submit {
    width: 50%;
    background-color: #558a5a;
    color: #ffffff;
    font-size: 17px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
}
